@import url(font-face.css);

/*------------------------------------------------------------------------------- GENERAL*/
/*#region general*/
	:root{
		--angle: 35deg;
	}

	html {
		scroll-behavior: smooth;
		overflow-x:hidden;
		overflow-y: overlay;
	}

	*{
		font-family: 'CircularSpotifyText', sans-serif;
		color: #eee;
	}

	h1{
		font-weight: 900 !important;
	}

	h3, h2{
		font-weight: bold !important;
	}

	em{
		font-style: italic;
		font-weight: inherit;
	}

	.green{
		color: rgba(29,185,84,1);
	}

	li{
		margin-left: 10px;
		list-style-type:disc;
	}
/*#endregion general*/

/*------------------------------------------------------------------------------- SCROLLBAR*/
/*#region scrollbar*/
	::-webkit-scrollbar {
		width: 15px;
	}

	::-webkit-scrollbar-track {
		background: rgba(0,0,0,0.2);
	}

	::-webkit-scrollbar-thumb {
		background: rgba(109, 109, 109, 0.5);
		border-radius: 8px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #1db954;
		
	}
/*#endregion scrollbar*/

/*------------------------------------------------------------------------------- BANNER*/
/*#region banner*/
	.top-title{
		position: absolute;
		top:20vh;
		width: 100vw;
		height: 20vh;
		font-weight: bold;
		font-size: 400%;
	}

	.soundwaves{
		position: relative;
		-webkit-transform:rotate(var(--angle));
		-moz-transform: rotate(var(--angle));
		-ms-transform: rotate(var(--angle));
		-o-transform: rotate(var(--angle));
		transform: rotate(var(--angle));
		left: -0.5em;
		top: -0.5em;
	}

	.arrow-down:hover{
		color: rgb(139, 226, 170);
		background-color: rgba(255, 255, 255, 0.2);
	}

	.banner {
		overflow-y: hidden;
		display: inline-block;
	}
/*#endregion banner*/

/*------------------------------------------------------------------------------- SCROLLY START*/
/*#region scrolly start*/
	#scrolly {
		position: relative;
		width: 100vw;
	}

	.triggers{
		display: inline-block;
		position: relative;
		/* top: -200vh; */
		top: -100vh;
		width: 10vw;
		margin: 0;
		padding: 0;
		z-index: 0;
	}

	.step{
		/* background-color: green; */
		background-color: rgba(32, 212, 203, 0.307);
		display: inline-block;
		width: 10vw;
		height: 200vh;
		z-index: 2;
	}

	.step p {
		text-align: center;
		background-color: #3b3b3bb0;
	}

	.readmore{
		position: absolute;
		background-color: rgba(0,255,255,0.5);
		display: inline-block;
		height: 17vh;
		width: 17vw;
		padding: 3vh;

	}
	.readmore.right{
		border-radius: 0 10px 10px 0;
	}
/*#endregion scrolly start*/

/*------------------------------------------------------------------------------- SCROLLY ACTIVE*/
/*#region scrolly active*/
	.step.is-active{
		background-color: rgba(255, 48, 238, 0.284);
	}

	.step.is-active p {
		background-color: goldenrod;
		color: #3b3b3b;
	}
/*#endregion scrolly changed*/
  
/*------------------------------------------------------------------------------- PLOT*/
/*#region plot*/
	svg{
		background-color: transparent !important;
	}

	#graph{
		position: sticky;
		top: -4.5vh;
	}
/*#endregion plot*/
  
/*------------------------------------------------------------------------------- TEXT*/
/*#region text*/
	#intro{
		height: 100vh;
		display: table-cell;
		vertical-align: middle;
	}

	#titulo{
		position: sticky;
		top: 0;
		background-color: rgba(var(--bs-dark-rgb), 1);
		text-align: center;
		padding: 1vh 0 0.8vh 0;
		z-index: 100;
	}

	#prologo{
		padding: 2vh 5vw;
		font-size: 1.2em;
		margin-top: 5vh;
	}

	.list-title{
		font-size:larger;
	}
/*#endregion text*/